NEXT_PUBLIC_SITE_URL=https://clarium.app
NEXT_PUBLIC_APK_URL=
NEXT_PUBLIC_SITE_REPO_URL=
NEXT_PUBLIC_APP_REPO_URL=https://github.com/CarlossgLuz/controle-fatura
NEXT_PUBLIC_APP_REPO_BRANCH=feat/home-shell
